@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    background: imgUrl('flame.png') left bottom $primary;

    .banner {
        padding: 16px 0 52px;

        @include media-breakpoint-down(sm) {
            h1.heading {
                font-size: 71px !important;
            }
        }

        .gradient-line {
            height: 2px;
            width: 100%;
            background: linear-gradient(270deg, rgba(36, 136, 183, 0) -1.35%, #2488B7 49.5%, rgba(36, 136, 183, 0) 100%);

            @include media-breakpoint-up(md) {
                background: linear-gradient(270deg, #2998C7 -0.71%, rgba(36, 136, 183, 0) 97.7%);
            }
        }

        .banner_box_1 {
            background: $white;
            border-radius: 25px;
            font-size: 28px;
            font-weight: 700;
            line-height: 1;
            color: $primary;
            padding: 44px 44px 26px;
            position: relative;
            margin: 54px 0 50px;

            .cheque {
                width: 69px;
                height: 69px;
                background: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 8px solid $primary;
                border-radius: 50%;
                position: absolute;
                top: -30%;
                z-index: 100;
            }

            @include media-breakpoint-down(sm) {
                margin: 10px 0 27px;
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }

        .cta-card {
            height: 92px;
            width: 92px;
            border-radius: 50%;
            background: $primary;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $white;
            font-size: 11px;
            border: 4px solid $white;
            line-height: 1;
            text-align: center;
            gap: 5px;
            padding: 4px;

            @include media-breakpoint-up(md) {
                height: 140px;
                font-size: 1rem;
                padding: 16px;
                gap: 10px;
                width: 140px;
                border: 6.75263px solid $white;
            }
        }

        .inspection_slider {
            min-height: 440px;
            width: 100%;
            border-radius: 33px;
            padding: 20px 36px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            @include media-breakpoint-up(md) {
                width: 522px;
                min-height: 576px;
            }

            &.flame_1,
            &.flame_3 {
                background: imgUrl('dotted-flame-slider.png') center bottom $secondary;
                background-size: contain;
            }

            &.flame_1 {
                position: relative;
                z-index: 3;
            }

            &.flame_2 {
                position: absolute;
                top: 0;
                background: imgUrl('dotted-flame-slider-2.png') center bottom $tertiary;
                background-size: contain;
                right: 13%;
                transform: scale(0.9);
                z-index: 2;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            &.flame_3 {
                position: absolute;
                top: 0;
                right: 0;
                transform: scale(0.8);
                z-index: 1;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }
    }
}

section.form {
    padding: 160px 0;

    @include media-breakpoint-down(sm) {
        padding: 91px 0;

        .heading {
            font-size: 50px !important;
        }
    }

    .form_box_wrapper {
        border-radius: 30px;
        overflow: hidden;
        background: imgUrl('form.jpg');
        background-size: cover;
        min-height: 471px;
        height: 100%;
        display: flex;
        align-items: end;

        @include media-breakpoint-down(sm) {
            background: imgUrl('form-mobile.jpg');
        }

        .form_box {
            background: $white;
            width: 100%;
            border-radius: 30px;
            font-size: 28px;
            font-weight: 700;
            line-height: 1;
            padding: 44px 44px 26px;
            position: relative;

            .cheque {
                width: 69px;
                height: 69px;
                background: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 8px solid #d9d5d0;
                border-radius: 50%;
                position: absolute;
                top: -45%;

                @include media-breakpoint-down(sm) {
                    top: -30%;
                    left: 10%;
                }
            }

            .sub-text {
                opacity: 0.76;

                @include media-breakpoint-down(sm) {
                    font-size: 13px !important;
                    padding-top: 10px;
                }
            }

            @include media-breakpoint-down(sm) {
                font-size: 20px;
                padding: 46px 20px 34px;

            }
        }
    }

    form {
        .form-control {
            border-radius: 30px;
            height: 80px;
            border: 0;
            background: $light;
            padding: 8px 42px;
            color: $black;
            font-size: 1.125rem;

            @include media-breakpoint-down(sm) {
                height: 60px;
                border-radius: 100px;
                padding: 8px 16px;
                font-size: 15px;
            }

            &::placeholder {
                color: $quarternary;
            }

            &:focus {
                box-shadow: none;
                outline: none;
            }
        }

        button {
            background: $primary !important;
        }
    }
}

section.about {
    .about_box {
        border-radius: 70px;
        background: imgUrl('about_flame.png') left top $light-blue;

        @include media-breakpoint-down(sm) {
            border-radius: 49px;
            overflow: hidden;
            background-position: center bottom;
        }

        &.contain {
            background-size: contain;
        }

        .inner {
            background: imgUrl('about_inner.png') right top;
            border-radius: 70px;

            @include media-breakpoint-down(sm) {
                border-radius: 49px;
                overflow: hidden;
                background: none;
            }

            &.contain {
                background-size: contain;
            }

            .heading {
                @include media-breakpoint-down(sm) {
                    font-size: 47px !important;
                }
            }

            .person-img {
                @include media-breakpoint-up(md) {
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
}

section.services {
    padding: 91px 0;
    background: imgUrl('services.png') right bottom $secondary-dark;
    border-radius: 70px;

    @include media-breakpoint-down(sm) {
        padding: 29px 0 0;

        .heading {
            font-size: 50px !important;
            text-align: center;
        }
    }

    .tab-navigation {
        background: $light-blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        button.navi-link {
            padding: 19px 24px;
            border: 0;
            background: none;
            color: #9AC6D7;
            display: flex;
            align-items: center;
            gap: 10px;

            &.active {
                border-radius: 100px;
                background: $white;
                color: $primary;
                transition: 0.2s all;
            }
        }
    }

    .tab-content {
        @include media-breakpoint-down(sm) {
            background: $secondary-darker;
            padding: 48px 7px 7px;
            border-radius: 68px;
        }

        .custom_tab_content {
            display: none;
            color: $white;

            @include media-breakpoint-down(sm) {
                .heading {
                    font-size: 40px !important;
                    text-align: start;
                }
            }

            .callback_form {
                background: $white;
                padding: 13px;
                border-radius: 50px;

                @include media-breakpoint-down(sm) {
                    display: none;
                }

                input {
                    border: 0;
                    background: none;
                    color: $dark;

                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }

                    &::placeholder {
                        opacity: 0.7;
                    }
                }
            }

            .service_cta {
                background: $white;
                border-radius: 30px;
                height: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @include media-breakpoint-down(sm) {
                    border-radius: 30px 30px 62px 62px;
                }

                .macbook_action_buttons {
                    padding: 20px 27px;
                    display: flex;
                    gap: 11px;

                    .red,
                    .yellow,
                    .green {
                        opacity: 0.5;
                        border-radius: 50%;
                        height: 13px;
                        width: 13px;
                    }

                    .red {
                        background: #F32828;
                    }

                    .yellow {
                        background: #FFC95F;
                    }

                    .green {
                        background: #18CD1F;
                    }
                }

                .inner {
                    position: relative;
                    flex: 1;
                    display: flex;
                    align-items: end;
                    background: imgUrl('general_plumbing_guy.jpg', 'lib');
                    background-size: cover;
                    min-height: 456px;

                    .hero_img {
                        width: 100%;
                        height: 100%;
                    }

                    .cta {
                        width: 100%;
                        background-size: cover;
                        border-radius: 30px;
                        background: $white;
                        padding: 44px 44px 26px;
                        position: relative;

                        .cheque {
                            width: 69px;
                            height: 69px;
                            background: $white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 8px solid $primary;
                            border-radius: 50%;
                            position: absolute;
                            top: -30%;
                            z-index: 100;
                        }

                        @include media-breakpoint-down(sm) {
                            border-radius: 62px;
                        }

                    }
                }
            }

            &.active {
                display: block;
            }
        }
    }
}

section.testimonials {
    padding-top: 160px;

    @include media-breakpoint-down(lg) {
        padding-top: 80px;
    }

    @include media-breakpoint-down(sm) {
        .heading {
            font-size: 51px !important;
        }
    }

    .testimonial_window {
        max-height: 855px;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .testimonial-card {
            border: 1.65909px solid #ECECEB;
            border-radius: 8.29545px;
            padding: 24px;

            .description {
                font-size: 15px;
                color: rgba(78, 113, 124, 0.65);
            }

            .userImage {
                width: 57px;
                height: 57px;
                border-radius: 50%;
                background: $dark;
            }
        }
    }

    .fog {
        position: absolute;
        width: 100%;
        height: 394px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) -23.99%, #FFFFFF 59.45%);
        bottom: 0;
    }
}

section.integrity {
    padding-bottom: 160px;

    @include media-breakpoint-down(sm) {
        padding-bottom: 80px;

        .heading {
            font-size: 50px !important;
        }
    }

    .tab-navigation {
        background: $light-blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        button.navi-link {
            padding: 16px 24px;
            border: 0;
            background: none;
            color: #9AC6D7;
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 0.875rem;

            &.active {
                border-radius: 100px;
                background: $white;
                color: $primary;
                transition: 0.2s all;
            }
        }
    }

    .tab-content {
        .custom_tab_content {
            display: none;
            color: #5b5b5b;
            line-height: 1.875;

            &.active {
                display: block;
            }
        }
    }

    .integrity_layer {
        position: absolute;
        top: 0;
        left: -71px;
        z-index: -1;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

footer {
    font-size: 0.875rem;
    background-color: #0F0E0E;
    padding: 24px 0;
    font-family: $font-articulat;
    font-weight: 300;
    color: $white;

    @include media-breakpoint-down(sm) {
        padding: 48px 0;
    }
}